<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout tools:context=".Home" android:background="#ffffff" android:layout_height="match_parent" android:layout_width="match_parent" xmlns:tools="http://schemas.android.com/tools" xmlns:android="http://schemas.android.com/apk/res/android">


  <LinearLayout android:layout_height="fill_parent" android:layout_width="fill_parent" android:orientation="vertical" android:gravity="center">

    <TextView android:layout_height="wrap_content" android:layout_width="wrap_content" android:text="Choose Vitals"
               android:textSize="26sp"
      android:textStyle="bold"
      android:gravity="center"
      android:textColor="#000000"
              android:id="@+id/animtext"/>


    <LinearLayout android:layout_height="wrap_content" android:layout_width="wrap_content" android:orientation="horizontal">

      <Button android:background="@drawable/wt" android:layout_height="200dp" android:layout_width="200dp" android:id="@+id/btn_wt"/>

      <Button android:background="@drawable/temp" android:layout_height="200dp" android:layout_width="200dp" android:id="@+id/btn_temp"/>

      <Button android:background="@drawable/bp" android:layout_height="200dp" android:layout_width="200dp" android:id="@+id/btn_Bp"/>
      <!--<Button android:background="@drawable/qsclick" android:layout_height="wrap_content" android:layout_width="wrap_content" android:id="@+id/btn_qs"/>-->

    </LinearLayout>


    <LinearLayout android:layout_height="wrap_content" android:layout_width="wrap_content" android:orientation="horizontal" android:layout_marginTop="40sp">

      <Button android:background="@drawable/bo" android:layout_height="200dp" android:layout_width="200dp" android:id="@+id/btn_oxygen" android:layout_marginRight="40sp"/>

      <Button android:background="@drawable/bg" android:layout_height="200dp" android:layout_width="200dp" android:id="@+id/btn_glucose"/>

    </LinearLayout>

  </LinearLayout>

</RelativeLayout>
