<?xml version="1.0" encoding="utf-8"?>

<LinearLayout android:gravity="center" android:orientation="vertical" android:padding="50dp" android:layout_height="match_parent" android:layout_width="match_parent" xmlns:android="http://schemas.android.com/apk/res/android">




  

    <Button android:background="@drawable/health" android:layout_height="75dp" android:layout_width="75dp" android:id="@+id/btn_wt1"/>
  <TextView
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:text="PHR"
        android:textSize="26sp"
        android:textStyle="bold"
        android:gravity="center"
        android:textColor="#ffffff" />
 
  
  <TextView android:layout_height="wrap_content" android:layout_width="500dp" android:textSize="20sp" android:text="Username" android:layout_marginTop="10dp"/>

  <EditText android:layout_height="wrap_content" android:layout_width="500dp" android:id="@+id/edt_userName"/>

  <TextView android:layout_height="wrap_content" android:layout_width="500dp" android:textSize="20sp" android:text="Password" android:layout_marginTop="20dp" android:paddingBottom="10dp"/>

  <EditText android:layout_height="wrap_content" android:layout_width="500dp" android:id="@+id/edt_password"/>

  <Button android:layout_height="wrap_content" android:layout_width="wrap_content" android:textSize="20sp" android:text="Submit" android:layout_marginTop="30dp" android:id="@+id/btn_login" android:textColor="#EAEAEA" android:textStyle="bold" android:paddingRight="50dp" android:paddingLeft="50dp"/>

</LinearLayout>




<!--<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android" xmlns:app="http://schemas.android.com/apk/res-auto" xmlns:tools="http://schemas.android.com/tools" android:orientation="vertical" android:layout_width="match_parent" android:layout_height="match_parent">
     <LinearLayout android:layout_width="match_parent" android:layout_height="wrap_content" android:orientation="vertical">
           <FrameLayout android:layout_width="match_parent" android:layout_height="wrap_content" android:background="@drawable/login_top">
                  <LinearLayout android:layout_width="match_parent" android:layout_height="wrap_content" android:orientation="vertical" android:layout_margin="30dp">
                        <EditText android:id="@+id/txtEmail" android:layout_width="match_parent" android:layout_height="wrap_content" android:hint="Email" android:theme="@style/EditTextWhite" android:inputType="textEmailAddress" android:drawableLeft="@drawable/ic_lock" />
                       <EditText android:id="@+id/txtPassword" android:layout_marginTop="40dp" android:layout_width="match_parent" android:layout_height="wrap_content" android:hint="Password" android:theme="@style/EditTextWhite" android:inputType="textPassword" android:drawableLeft="@drawable/ic_key" />
      </LinearLayout>
      
    </FrameLayout>
            <FrameLayout android:layout_width="match_parent" android:layout_height="wrap_content" android:background="@drawable/login_bottom">
                  <android.support.design.widget.FloatingActionButton android:id="@+id/btnLogin" android:layout_width="wrap_content" android:layout_height="wrap_content" android:layout_gravity="top" android:layout_marginStart="40dp" app:backgroundTint="#003157" app:srcCompat="@drawable/ic_right_arrow" />
    </FrameLayout>
   
  </LinearLayout>
  
</RelativeLayout>-->

<!--<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

</LinearLayout>-->

