<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/toosl"
android:layout_width="match_parent"
android:layout_height="match_parent"
android:layout_gravity="center"
android:orientation="vertical"
    android:padding="10dp"
    android:background="#ffffff">
  <TextView
      android:id="@+id/scanneddevice"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:text="Scanned Devices - "
      android:textSize="26sp"
      android:textStyle="bold"
      android:gravity="center"
      android:textColor="#000000" />
  
  <LinearLayout  android:layout_width="match_parent"
    android:layout_height="wrap_content"
                 android:orientation="horizontal">

    <TextView
     android:id="@+id/macid"
     android:layout_width="250dp"
     android:layout_height="wrap_content"
     android:text="Mac id"
      android:textStyle="bold"
      android:textColor="#000000"
     android:background="#A9A9A9"
     >
    </TextView>

    <TextView
        android:id="@+id/name"
        android:layout_width="200dp"
        android:layout_height="wrap_content"
        android:text="Sensor"
         android:textStyle="bold"
         android:textColor="#000000"
         android:background="#A9A9A9"
        >
    </TextView>
    <TextView
           android:id="@+id/Status"
           android:layout_width="50dp"
           android:layout_height="wrap_content"
           android:text="Status"
            android:textStyle="bold"
            android:textColor="#000000"
            android:background="#A9A9A9"
           >
    </TextView>
    <TextView
          android:id="@+id/radiolist"
            android:layout_width="450dp"
            android:layout_height="wrap_content"
           android:text=""
            android:textStyle="bold"
            android:textColor="#000000"
            android:background="#A9A9A9"
             
        >
          
    </TextView>
  </LinearLayout>
  <ListView  
android:minWidth="25px"  
android:minHeight="25px"

android:layout_width="match_parent"  
android:layout_height="50dp"  
android:id="@+id/list"
 android:textColor="#000000"
 android:background="#ffffff" />

  <ImageView android:layout_width="300dp" 
             android:layout_height="300dp" 
             android:id="@+id/demoImageView" 
           
              android:gravity="center"
            android:layout_gravity="center"
             />
  

</LinearLayout>

